<!--
   add.html
   
   Copyright 2021 xmjs_cptc <xmjs_cptc@xmjscptc-VirtualBox>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<!DOCTYPE html>  
 <html>  
 <head>  
 <title>Add New Students</title>  
 </head>  
 <body>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">  
  <h2>Student Information</h2>   
 <form action = "/savedetails" method="post">   
 <table>  
 <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
 <tr><td>Email</td><td><input type="email" name="email"></td></tr>  
 <tr><td>Address</td><td><input type="text" name="address"></td></tr>  
 <tr><td><input type="submit" value="Submit"></td></tr>  
 </table>  
 </form> 

 </body>  
 </html>  
